<p id="notice"><%= notice %></p>

<h1>favorites</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
    </tr>
  </thead>

  <tbody>
  <% if logged_in? %>
    <% @favorites.each do |profile| %>
      <tr>
      <% if current_user.id == profile.user_id %>  
        <td><%= image_tag profile.post.image.url, size: "100x100" unless profile.post.image.url.blank? %></td>
      </tr>
    <% end %>
    <% end %>
    <% end %>
  </tbody>
</table>