

 <h1>Welcome to example.com, <%= @profile.user.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @profile.user.name %>.<br>
    </p>
    <p>
      <%= link_to 'Continue...', posts_url %>
    </p>
    <p>Thanks for joining and have a great day!</p>